TBLS24CurvePairing BITMAP "Icones\\BLS24.bmp"
TBNCurvePairing BITMAP "Icones\\BN.bmp"
TBLS12CurvePairing BITMAP "Icones\\BLS12.bmp"
TKSS16CurvePairing BITMAP "Icones\\KSS16.bmp"
TMNTCurve BITMAP "Icones\\MNT.bmp"
TSuperSingularCurvePairing BITMAP "Icones\\ss.bmp"
TKSS18CurvePairing BITMAP "Icones\\KSS18.bmp"
TBLS27Curve BITMAP "Icones\\KSS27.bmp"
TKSS36Curve BITMAP "Icones\\KSS36.bmp"
